name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint-check:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node, pnpm, turbo
        uses: ./.github/actions/check-commons
      - name: Lint
        run: pnpm lint:check

  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node, pnpm, turbo
        uses: ./.github/actions/check-commons
      - name: Format
        run: pnpm format:check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node, pnpm, turbo
        uses: ./.github/actions/check-commons
      - name: Test
        run: pnpm test

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node, pnpm, turbo
        uses: ./.github/actions/check-commons
      - name: Build
        run: pnpm build
        working-directory: packages/maximum-markdown

  example-build:
    name: Example Build
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        example:
          - next-js-blog
          - react-router-blog-on-cloudflare
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node, pnpm, turbo
        uses: ./.github/actions/check-commons
      - name: Build Package
        run: pnpm build
        working-directory: packages/maximum-markdown
      - name: Build
        run: pnpm build
        working-directory: examples/${{ matrix.example }}
